# large training saved file

## model file
*.h5
*.pkl
pre-trained_weights/
*.pth

## event file
**/event*
*.pt
*.npz
*.json
## all compressed file
*.zip

## all image file
*.jpg
*.png

## other git repo
/code/detectron2_repo
/code/faster-rcnn-repo
/code/PyTorch-YOLOv3-ModelArts
/weights
/trained_models*


## python tmp file
**/.ipynb_checkpoints/
*.pyc

## dir file
/submit*


## re-include
!**/asserts/*.jpg
